.tiles-view {
  height: calc(100% - 32px);
  flex-grow: 1;
  overflow: scroll;
  position: relative;
  /* background: #2a3444; */
  background-image: url(../public/assets/bg.jpeg);
  background-size: cover;
}

.tiles-view .tile {
  background-image: url(../public/assets/tiles_130x66_130x230.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 130px;
  height: 230px;
  position: absolute;
  pointer-events: none;
}

.tiles-view .tile .tile-btn {
  background: rgba(0, 0, 0, 0.4);
  width: 130px;
  height: 130px;
  display: block;
  transform: translate(0px, 97px) scale(0.7, 0.35) rotate(45deg);
  pointer-events: all;
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.1s;
}

.tiles-view .tile .tile-btn:hover {
  opacity: 1;
}
.tile img {
  border: 0px !important;
  border-radius: 100%;
  top: -115px;
  left: 37px;
  position: relative;
  width: 50px;
  height: 50px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}
